@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;600&display=swap');

/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    -webkit-font-smoothing: antialiased;
  }

  body {
    font-family: 'Inter', system-ui, sans-serif;
  }
}

@layer utilities {
  .mono {
    font-family: 'JetBrains Mono', 'Fira Mono', monospace;
  }
}